<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <h1 class='navbar-title'>Kodama</h1>
  <% end %>

  <div class="navbar-wagon-right visible-lg-block hidden-sm-down hidden-xs-down collapse navbar-collapse hidden-xs hidden-sm">
    <%= link_to "スクール比較", schools_path, class: "nav-link" %>
    <%= link_to "ランキング", "#", class: "nav-link" %>
    <%= link_to "レビューを書く", new_review_path, class: "nav-link" %>
  </div>

  <div class="navbar-wagon-item d-md-none hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <li class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <ul><%= link_to "スクール比較", schools_path, class: 'nav-path' %></ul>
        <ul><%= link_to "ランキング", "#", class: 'nav-path'  %></ul>
        <ul><%= link_to "レビューを書く", new_review_path, class: 'nav-path'  %></ul>
      </li>
    </div>
  </div>
</div>
