<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="home-container">
  <div class="banner" style="background-image: linear-gradient(-250deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.1) 50%), url('https://res.cloudinary.com/drsb1n3km/image/upload/v1554111231/lewagonparis.jpg');">
    <div class="banner-content  hidden-xs-down">
      <h2 class="banner-title  hidden-xs-down">あなたに合ったプログラミングスクールを</h2>
      <p>ウェブディベロップメント、データサイエンスやデザインを学ぶ</p>

      <%= form_tag schools_path, method: :get, class: 'search-form' do %>
        <%= text_field_tag :query, params[:query], class: "form-home mr-sm-6 search-field", placeholder: " Search" %>
        <input type="submit" value="探す" class='btn btn-primary home-submit'>
      <% end %>

    </div>
  </div>

  <div class="home-cards">
    <h3>Best Schools by Categories</h3>

    <div class="categories-container">
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <div class='text-center'><%=  'UI/UX Design' %></div>
        </div>
        <div class="col-xs-12 col-md-3">
          <div class='text-center'><%=  'Fullstuck Bootcamp' %></div>
        </div>
        <div class="col-xs-12 col-md-3">
          <div class='text-center'><%=  'Data Science' %></div>
        </div>
        <div class="col-xs-12 col-md-3">
          <div class='text-center'><%=  'Block chain' %></div>
        </div>
      </div>
    </div>


    <div class="school-container">
      <div class="row">

      <% @schools.each_with_index do |school, i| %>
        <div class="col-xs-12 col-md-3">
          <div class="school-index">
            <div class="school-card">
              <%= link_to school_path(school) do %>
              <div class="school-logo-card">
                <%= image_tag(school.logo, class: 'school-logo') %>
              </div>
              <div class="school-description">
                <p class='h-school-name'><%= school.name %></p>
                <p class='h-school-detail'>location</p>
                <p class='h-school-detail'>stars</p>
              </div>
              <% end %>
            </div>
          </div>
        </div>
        <% break if i == 3 %>
      <% end %>

      </div>
    </div>

  </div>
</div>
