<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="home-container">
  <div class="banner" style="background-image: linear-gradient(-250deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.1) 50%), url('https://res.cloudinary.com/drsb1n3km/image/upload/v1554111231/lewagonparis.jpg');">
    <div class="banner-content  hidden-xs-down">
      <h2 class="banner-title  hidden-xs-down">あなたに合ったプログラミングスクールを</h2>
      <p>ウェブディベロップメント、データサイエンスやデザインを学ぶ</p>

      <%= form_tag schools_path, method: :get, class: 'search-form home-search' do %>
        <%= text_field_tag :query, params[:query], class: "form-home mr-sm-6 search-field", placeholder: "Search"
        %>
        <input type="submit" value="探す" class='btn btn-primary home-submit'>
      <% end %>

    </div>
  </div>

  <div class="home-cards">
    <h3>おすすめスクール</h3>
    <!-- Please change it to below when you add tag_line to all schools -->
    <!-- <h3>カテゴリ別スクール</h3> -->

    <div class="categories-container">
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <div class='text-center'>
            <!-- Please uncomment out when you add tag_line to all schools (this is for UI/UX desing) -->
            <%#=  'UI/UX デザイン' %>
            <%#= @schools.find("tagline = ?", 'UI/UX デザイン') %>
          </div>
        </div>
        <div class="col-xs-12 col-md-3">
          <div class='text-center'>
            <!-- Please uncomment out when you add tag_line to all schools (this is for full-stack bootcamp)-->
            <%#=  'フルスタック型ブートキャンプ' %>
            <%#= @schools.find("tagline = ?", 'フルスタック型ブートキャンプ') %>
          </div>
        </div>
        <div class="col-xs-12 col-md-3">
          <div class='text-center'>
            <!-- Please uncomment out when you add tag_line to all schools (this is for data science) -->
            <%#=  'データサイエンス' %>
            <%#= @schools.find("tagline = ?", 'データサイエンス') %>
          </div>
        </div>
        <div class="col-xs-12 col-md-3">
          <div class='text-center'>
            <!-- Please uncomment out when you add tag_line to all schools (this is for block chain) -->
            <%#=  'ブロックチェーン' %>
            <%#= @schools.find("tagline = ?", 'ブロックチェーン') %>
          </div>
        </div>
      </div>
    </div>


    <div class="h-school-container">
      <div class="row">

      <% @schools.each_with_index do |school, i| %>
        <div class="col-xs-12 col-md-3">
          <div class="school-index">
            <div class="i-school-card">
              <%= link_to school_path(school) do %>
                <div class="school-logo-card">
                  <%= image_tag(school.logo, class: 'school-logo') %>
                </div>
                <div class="school-description">
                  <p class='h-school-name'><%= school.name %></p>
                  <p class='h-school-detail'>location</p>
                  <p class='h-school-detail'>
                  <% unless school.reviews.count == 0 %>
                    <% stars = school.reviews.map { |mr| mr.overall_rating } %>
                    <% num = stars.inject{ |sum, el| sum + el }.to_f %>
                    <% ave_stars = (num / stars.size).round if num > 0 %>
                  <% end %>
                  <% 5.times.each do |count| %>
                    <% if ave_stars && ave_stars > count %>
                      <i class="fas fa-star star"></i>
                    <% else %>
                      <i class="far fa-star unstar"></i>
                    <% end %>
                  <% end %>
                  </p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <% break if i == 3 %>
      <% end %>

      </div>
    </div>

  </div>
</div>
