<div class="show-banner" style="background-image: linear-gradient(-250deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.1) 50%), url('<%= cl_image_path @school.banner %>');">
  <div class="show-card-description">
    <%= image_tag(@school.logo, class: 'show-card-logo') %>
    <div class="s-school-card-description">
      <h2 class='show-school-name'><%= @school.name %></h2>
      <div class="show-card-category">

      </div>
      <div class="s-school-description">
        <div>プログラム：<%= @school.courses[0].name %><%= @school.courses.size >= 2 ? ' 他' : nil  %></div>
        <div>価格： <%= number_with_delimiter(@school.courses[0].price, :precision => 2, :delimiter => ',') %>円<%= @school.courses.size >= 2 ? ' 〜' : nil  %></div>
      </div>
      </div>
  </div>
</div>


<div class="s-show-wrapper">
  <div class="show-container">

    <input type="checkbox" style="display: none;" id="s-show-review">
    <label for="s-show-review" class='btn write-btn show-c-content review'>レビュー</label>

    <input type="checkbox" style="display: none;" id="s-show-course">
    <label for="s-show-course" class='btn write-btn show-c-content courses'>コース</label>

    <input type="checkbox" style="display: none;" id="s-show-about">
    <label for="s-show-about" class='btn write-btn show-c-content about' style='background-color: #d7f7f5'>概要</label>

  </div>

  <div class="detail-container" >
    <div id="review" style='display: none;'>
      <% if @school.reviews.exists? %>
        <% @school.reviews.each do |review| %>
        <div class='review-title-detail'>
          <div><%= review.title %></div>
          <div><%= review.detail %></div>
        </div>
        <% end %>
      <% else %>
        <%= 'まだレビューはありません。' %>
      <p><%= link_to '最初のレビューを書く', new_review_path, class: 'btn btn-primary s-write-review' %></p>
      <% end %>
    </div>


    <div id="course" style='display: none;'>
      <% @school.courses.each do |course| %>
        <p>コース名：<%= course.name %></p>
        <p>価格：<%= number_with_delimiter(course.price, :precision => 2, :delimiter => ',') %></p>
      <% end %>
    </div>

    <div id="about"  >
      <%= @school.about %>
    </div>
  </div>
</div>
<%#= @school.tag_list %>

