<div class="form-container">
  <!-- <div class="write-review">レビューを書く</div> -->
　　
  <div class="review-container">
    <div class="choose-school">
      <h3>スクール詳細</h3>
      <%= form_for @review do |f| %>
       <%= f.collection_select :school, School.all,:id,:name, include_blank: true, value: 'スクール名' %>
       <% f.submit %>
      <% end %>
    </div>

    <div class="rating">
      <h3 id=rating>Rating</h3>

      <div id="create-review" >
        <%= simple_form_for [@school, @review] do |f| %>
          <%= f.input :overall_rating %>
          <%= f.input :curriculum_rating %>
          <%= f.input :job_support_rating %>
        <% end %>
      </div>

      <input type="checkbox" style="display: none;" id="m-write-review">
      <label for="m-write-review" class='btn btn-primary write-btn'>Write the first comment!</label>
      <p class='back-btn'><%= link_to 'Back', schools_path(@school) %></p>
      <script>
        document.querySelector("#m-write-review").addEventListener("click", function() {
          console.log("clicked");
          document.querySelector('#create-review').style.display = "block";
          document.querySelector('.write-btn').style.display = "none";
          document.querySelector('#m-invite').style.display = "none";
          document.querySelector('.no-comment').style.display = "none";
          document.querySelector('.back-btn').style.display = "none";
        })
      </script>
      <div id="create-review" style="display: none">
        <%= simple_form_for [@school, @review] do |f| %>
          <%= f.input :title %>
          <%= f.input :detail  %>
          <%= f.submit "Send", class: "btn btn-success review-submit" %>
        <% end %>
      </div>

    <div class="review-detail">
      <%= simple_form_for @review do |f| %>
        <%= f.input :レビュー, as: :text, input_html: { value: 'レビューを書く', style: 'color: #bbbbbb' } %>
    </div>

    <div class="authenticate">
        <%= f.input :authenticate, as: :string, input_html: { value: 'Mail or Github', style: 'color: #bbbbbb'} %>
    </div>

        <%= f.submit 'Submit', class: 'btn btn-primary form-submit' %>
      <% end %>
  </div>
</div>
